<mat-toolbar>
    <div class="header-container">
        <div class="logo-container">
            <img class="header-logo" src="assets\img\logo\4T_logo.svg" alt="4T logo">
        </div>
        <button mat-button class="signin-container">
            <span class="signin-text">
               Signin
            </span>
            <button class="signin-btn" mat-mini-fab aria-label="Signin">
                <mat-icon class="signin-icon">login</mat-icon>
            </button>            
        </button>
    </div>
</mat-toolbar>