<mat-toolbar>
    <div class="header-container">
        <img class="header-logo" src="assets\img\logo\4T_logo.svg" alt="4T logo">        
        <div class="signin-btns">
            <button routerLink="chat"  mat-button class="signin-container">
                <span class="signin-text">
                Login
                </span>                      
            </button>
            <button routerLink="admin" mat-button class="signin-container">
                <span class="signup-text">
                Register
                </span>                      
            </button>
        </div>
    </div>
</mat-toolbar>